body {
  background: deepskyblue;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container {
  font-family: "Timmana", sans-serif;
  max-width: 400px;
}
.container h1 {
  font-family: "Leckerli One", cursive;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
